[user]
	name = Sergey Ermakovich
	email = s.ermakovich@gmail.com
[alias]
	# Commit
	com = commit
	comm = commit -m

	# Checkout
	co = checkout
	cb = checkout -b

	# Diff
	df = diff

	# Pull
	pl   = pull
	plo  = pull --rebase origin
	plom = pull --rebase origin master

	# Stage
	sa = stage --all

	# Status
	st = status -s
[push]
  default = simple
